version: "3.9"

services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: esp32-server
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

  backend:
    build:
      context: ./backend
    restart: unless-stopped
    env_file: .env
    environment:
      ASPNETCORE_URLS: ${ASPNETCORE_URLS}
      ConnectionStrings__Default: >
        Host=${POSTGRES_HOST};
        Port=${POSTGRES_PORT};
        Database=esp32-server;
        Username=${POSTGRES_USER};
        Password=${POSTGRES_PASSWORD}
    depends_on:
      - postgres
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: ${VITE_API_URL}
    restart: unless-stopped
    
    networks:
      - appnet

  cloudflared:
    build:
      context: ./cloudflare
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

volumes:
  pgdata:

networks:
  appnet:
    driver: bridge
